/hetnet/adjacency/data-big
/data/hetionet-v1.0.hetmat/permutations/*.bak
/data/hetionet-v1.0.hetmat/permutations/*/degree-grouped-path-counts

### Python ###
__pycache__/
.cache
.pytest_cache/
*.egg-info/

### Jupyter Notebook ###
.ipynb_checkpoints

### IDEA ###
**.idea/
