/hetnet/adjacency/data-big
/data/hetionet-v1.0.hetmat/permutations/*.bak
/data/hetionet-v1.0.hetmat/permutations/*/degree-grouped-path-counts

# Python
__pycache__/
*.egg-info/
.ipynb_checkpoints
.cache
.pytest_cache/
.venv/

# System specific files

## Linux
*~
.Trash-*

## macOS
.DS_Store
._*
.Trashes

## Windows
Thumbs.db
[Dd]esktop.ini

## Text Editors
.vscode
**.idea/
